@mixin flex-row($justify-content: flex-start) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: $justify-content;
}

@mixin flex-column($justify-content: flex-start) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: $justify-content;
}
@mixin background-orange {
  background: linear-gradient(
    113.96deg,
    rgb(249, 128, 75) 1.49%,
    rgb(254, 144, 19) 101.44%
  );
}
$default-color: rgba(51, 59, 65, 1);

$primary-orange-color: rgb(250, 111, 50);
$secondary-orange-color: rgb(254, 144, 19);
$thirdary-orange-color: rgb(249, 128, 75);
$orange-color-hover: rgba(228, 114, 9, 1);

@mixin border-primary {
  border: 1px solid;
  border-color: $primary-orange-color $secondary-orange-color;
  border-radius: 5px;
  z-index: 10;
}

@mixin font($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}
@mixin h2 {
  @include font(4.8em, 400, 57.6px);
}

@mixin h3 {
  @include font(3.6em, 400, 46.8px);
}
@mixin subtitle {
  @include font(2.4em, 400, 28.8px);
}
@mixin p {
  @include font(1.6em, 400, 22.4px);
}

@mixin p-small {
  @include font(1.5em, 300, 18px);
}

body {
  min-width: 1600px;
  margin: 0 auto;
}

.button {
  @include background-orange;
  border: none;
  border-radius: 25px;
  width: 298px;
  height: 54px;
  color: #fff;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 22.4px;
  text-align: center;
  padding-top: 2px;
  cursor: pointer;
}
.button:active{
  background-image: none;
  background-color: $orange-color-hover;
}
.button--rectangle {
  border-radius: 5px;
}
.link {
  text-decoration: none;
  color:#fff;
}
.link:visited {
  color: $default-color;
  text-decoration: none;
}

.header {
  box-sizing: border-box;
  color: #fff;
  background-color: #000;
  min-width: 1600px;
  height: 80px;
 
}
.header__main-box{
  @include flex-row;
  width:1160px;
  height: 100%;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.6em;
}
.header__logo-box{
  box-sizing: border-box;
  width: 82px;
  height: 52px;
  border: 1px solid #fff;
  border-radius:2px;
}
.header__title{
  font-size: 19px;
  line-height: 22.82px;
  font-weight: 400;
  margin:0;
  padding-top: 2px;
  text-align: center;
  
}

.header__title-link:visited{
  color: #fff;
}

.header__logo{
  position: relative;
  bottom: 25.6px;
  left: 6.5px
}
.header__nav {
  @include flex-row(space-between);
  width: 100%;
}

.header__menu {
  @include flex-row;
  list-style: none;
  width: 100%;
  padding-left: 63px;
}

.header__menu-item {
  padding-right: 58px;

}
.header__menu-link:visited{
color:#fff;
}
.header__menu-link:active,
.header__menu-link:hover
{
  color:$thirdary-orange-color;
}
.header__author {
  width: 30%;
  text-align: end;
}
.hero-section {
  background-image: url("../../assets/images/Giant\ Panda.png");
  background-color: #000;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 700px;
  min-width: 1600px;
  background-size: cover;
}

.hero-section__container{
  width: 1160px;
  margin: 0 auto;
}
.hero-section__header {
  margin: 0;
  width: 500.31px;
  height: 400px;
  @include flex-column;
  position: relative;
  left: 880px;
  top: 86px;
  z-index: 10;
}
.hero-section__header-text {
  font-size: 10.65em;
  font-weight: 700;
  color: #fff;
  width: 100%;
  line-height: 75%;
  text-align: center;
}
.hero-section__header-text--important {
  font-size: 10.65em;
  font-weight: 700;
  color: rgba(255, 238, 46, 1);
}

.hero-section__circle {
  width: 465px;
  height: 465px;
  @include background-orange;
  border-radius: 232.5px;
  position: relative;
  left: 807px;
  bottom: 388px;
}

.hero-section__button-box {
  position: relative;
  left: 983px;
  bottom: 320px;
}



// Backstage section

.backstage-section {
  display: grid;
  grid-template-columns: (219px auto 200px);
  grid-template-rows: 605px;
  align-items: center;
  margin-top: 12px;
}

.backstage-section__main {
  grid-column-start: 2;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: (609px 552px);
  grid-template-rows: 403px;
  align-items: center;
  padding-top: 60px;
  width: 1160px;
  margin: 0 auto;
}

.backstage-section__image {
  grid-column-start: 1;
  grid-column-end: 1;
}
.backstage-section__article {
  grid-column-start: 2;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 87px;
  height: 100%;
}
.backstage-section__aside-image {
  grid-column-start: 3;
  grid-column-end: 3;
}
.backstage-section__header-title {
  @include h2;
  margin: 0;
}
.backstage-section__text {
  @include p;
  margin: 0;
  padding-top: 20px;
}
.backstage-section__header-secondary-title {
  @include subtitle;
  margin: 0;
  padding: 54px 0 14px 0;
}

// Gallery section

.gallery-section {
  margin-top: 106px;
  height: 1104px;
}

.gallery-section__gallery-box {
  @include flex-row(space-between);
  width: 1324px;
  margin: 0 auto;
}

.gallery-section__gallery {
  display: grid;
  grid-template-columns: repeat(3, 366px);
  column-gap: 30px;
  grid-template-rows: repeat(2, 426px);
  row-gap: 20px;
  justify-content: center;
  width: 1160px;
}

.gallery-section__animal-card {
  width: 366px;
  height: 426px;
  @include border-primary;
  @include flex-column(center);
  cursor: pointer;
}

.gallery-section__picture {
  border-radius: 5px 5px 0 0;
  width: 366px;
  height: 366px;
  transition: width 0.5s, height 0.5s
}
.gallery-section__animal-card:hover .gallery-section__picture{
  width: 386px;
  height: 386px;
 }

 .gallery-section__card-description-box {
  @include flex-row(space-between);
  box-sizing: border-box;
  width: 100%; 
  padding: 8px 13px 14px 16px; 
  transition: width 0.7s, transform 1s, padding 0.7s;
}

 .gallery-section__animal-card:hover > .gallery-section__card-description-box{
  background-color: lightgray;
  width: 386px;  
  transform: translateY(-20px);
  padding: 20px 13px 25px 16px;
 }



.gallery-section__card-title {
  font-size: 1.6em;
  font-weight: 500;
  line-height: 22.4px;
  color: #000;
  margin: 0;
}

.gallery-section__card-subtitle {
  @include p-small;
  color: #000;
  margin: 0;
}

.button-round {
  @include background-orange;
  width: 62px;
  height: 62px;
  border: none;
  border-radius: 31px;
  cursor: pointer;
}
.button-round:active{
  background-image: none;
  background-color: $orange-color-hover;
}
.gallery-section__bottom-button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 460px;
  position: relative;
  bottom: 226px;
}

.gallery-section__bottom-button {
  position: relative;
  bottom: 100px;
}

// Pick and feed a friend section
.pick-section {
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
  margin: 0;
  min-width: 1600px;
  height: 1004px;
  display: flex;
}

.pick-section__inside-box {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  box-sizing: border-box;
  width: 1160px;
  height: 835px;
  margin: auto;
  padding: 41px 0 59px 0;
}
.pick-section__header-primary {
  font-size: 4.8em;
  font-weight: 400;
  line-height: 57.6px;
  text-align: center;
  color: $secondary-orange-color;
  margin: 0;
}
.pick-section__header-secondary {
  @include h3;
  text-align: center;
  margin: 0;
  padding: 40px 0;
}
.pick-section__header-thirdary {
  @include subtitle;
  text-align: left;
  margin: 0;
  padding: 30px 0 30px 99px;
}

.pick-section__text {
  @include font(1.6em, 400, 20.8px);
  text-align: left;
  margin: 0;
  padding: 10px 0 10px 99px;
  width: 863px;
}

.pick-section__text--strong {
  font-weight: 500;
  width: 1051px;
}

.pick-section__pay-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 764px;
  margin: auto;
  padding-bottom: 60px;
}
.pick-section__picture-subtitle {
  @include p;
  width: 168px;
}

.pick-section__image-box {
  background-color: #fff;
  @include border-primary;
  width: 168px;
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pick-section__arrow {
  position: relative;
  top: 62px;
}

.pick-section__button {
  margin-left: 431px;
}

.pick-section__link,
.pick-section__link:visited {
  text-decoration-line: underline;
  text-decoration-color: $secondary-orange-color;
  text-underline-position: under;
}

//  Testimonials section

.testimonials-section {
  min-width: 1600px;
  height: 919px;
  margin: auto;
  padding-top: 140px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: (1fr 1160px 1fr);
  grid-template-rows: (auto);
}
.testimonials-section__main-box {
  grid-column-start: 2;
  grid-column-end: 2;
}
.testimonials-section__header {
  @include h3;
  text-align: center;
  margin: 0 auto 47px auto;
}
.testimonials-section__testimonials-box {
  @include flex-row(space-between);
  width: 1160px;
  margin: 0;
}
.testimonnials-section__testimonial {
  box-sizing: border-box;
  width: 268px;
  height: 391px;
  background: linear-gradient(rgba(241, 243, 242, 1), rgba(241, 243, 242, 1))
      padding-box,
    linear-gradient(
        -80deg,
        rgba(254, 189, 171, 0.74) 6.48%,
        rgba(243, 169, 248, 0.66) 22.51%,
        #e0d8f0 45.57%,
        #eaf7fe 82.33%,
        #eaf7fe 99.1%
      )
      border-box;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 15px 15px 19px 16px;
}
.testimonials-section__testimonial-header {
  @include flex-row;
}
.testimonnials-section__author-info-box {
  padding: 0 0 10px 10px;
}
.testimonnials-section__author {
  font-size: 1.6em;
  line-height: 19.2px;
  margin: 0;
}
.testimonials-section__info {
  @include p-small;
  color: #bdbdbd;
  @include flex-row;
  width: 205px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.testimonials-section__info-item {
  margin: 0;
  padding-right: 5px;
}

.testimonials-section__info-item-last::before {
  content: url("../../assets/icons/dot.svg");
  padding-right: 5px;
  position: relative;
  bottom: 3px;
}

.testimonials-section__comment {
  @include p-small;
  color: rgba(118, 116, 116, 1);
  margin: 0;
  display: block;
  height: 309px;
  overflow: hidden;
}
.testimonnials-section__testimonial--last {
  padding-right: 13px;
}
.testimonials-section__scroll-box {
  width: 599px;
  height: 8px;
  background: linear-gradient(rgba(241, 243, 242, 1), rgba(241, 243, 242, 1))
      padding-box,
    linear-gradient(
        0deg,
        rgba(254, 189, 171, 0.74) 6.48%,
        rgba(243, 169, 248, 0.66) 22.51%
      )
      border-box;
  border: 0.5px solid transparent;
  border-radius: 5px;
  margin: 22px auto;
  @include flex-row;
}
.testimonials-section__scroll {
  width: 115.19px;
  height: 6px;
  border: none;
  border-radius: 5px;
  background-color: $secondary-orange-color;
  cursor: pointer;
}
.testimonials-section__scroll:hover {
  background-color: $orange-color-hover;
}

.testimonial-section__button {
  margin: 10px auto 10px 0;
}
.testimonial-section__aside-image-box {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  grid-column-start: 3;
  grid-column-end: 3;
}
.testimonial-section__aside-image{
  position: relative;
  top: 130px;
  z-index: -1;
}
// Footer
.footer {
  min-width: 1600px;
  height: 443px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background-color: #000;
 
}
.footer-box{
  @include flex-row;
  width: 1160px;
  margin: 0 auto;
  height: 100%;
}
.footer__left-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 41px 101px 0 0;
  margin-bottom: 40px;
}
.footer-logo {
  padding-bottom: 24px;
}
.footer__left-section-button {
  margin: 44px 0;
}
.footer__icon-block {
  @include flex-row;
  margin: 0 0 10px 0;
}
.footer__icon-box {
  background-color: rgba(196, 196, 196, 0.5);
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.footer__icon-name {
  color: #fff;
  font-size: 1.6em;
  line-height: 22.4px;
  padding-left: 12px;
  margin: 0;
}
.footer-menu-section {
  display: flex;
  align-self: flex-end;
  margin: 0 0 50px 0;
  padding: 0;
}
.footer-menu {
  @include flex-row(space-between);
  list-style: none;
  width: 358px;
  font-size: 1.6em;
  color: #fff;
  line-height: 22.4px;
  margin: 0;
  padding: 0;
}

.footer__right-section {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  padding: 40px 0 50px 32px;
}
.footer__form-header {
  @include subtitle;
  color: #fff;
  padding-bottom: 14px;
}
.footer__input {
  box-sizing: border-box;
  width: 228px;
  height: 42px;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(45deg, rgba(249, 128, 75, 1) 0%, rgba(254, 144, 19, 1) 100%)
      border-box;
  border: 0.7px solid transparent;
  border-radius: 2px;
  padding: 10px;
  font-size: 1.6em;
  line-height: 22.4px;
}
.footer__submit-button {
  width: 129px;
  height: 42px;
  border: solid 1px rgba(75, 146, 0, 1);
  border-radius: 5px;
  background-color: #f1f3f2;
  color: rgba(75, 146, 0, 1);
  font-size: 1.6em;
  line-height: 22.4px;
  margin-left: 10px;
}
.footer__copyright {
  font-size: 1.6em;
  font-style: thin;
  font-weight: 100;
  line-height: 20.8px;
  color: #fff;
  margin: 0;
}
.footer__copyright-text {
  margin: 0;
  padding: 5px 0 0 0;
  text-align: left;
}
